body {
    margin: 0;
    padding: 0;
    font-family: Segoe UI;
}

.tab1 {
    font-family: Segoe UI;
    background-color: #316DC3;
    padding: 0.7%;
    width: 100%;
}

.tab2 {
    font-family: Segoe UI;
    background-color: #F2F2F2;
    padding: 0.7%;
    width: 100%;
}

.tab1 td {
    color: white;
}

.social img {
    margin-left: 2%;
    padding: 4% 4%;
}

.fb:hover {
    background-color: #2980B9;
    border-radius: 3px;
}

button {
    padding: 1% 2%;
    color: #427900;
}

.tab2btn {
    margin: 0.3%;
    border: 0px;
    background-color: #F2F2F2;
    color: black;
}

.dropbtn {
    background-color: #F2F2F2;
    color: black;
    padding: 9px 13px;
    font-size: 13px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

.dropbtn1 {
    background-color: #316DC3;
    color: white;
    padding: 9px 18px;
    font-size: 13px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    font-size: 13px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 170%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    transition: 0.6s;
    background-color: #316DC3;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    transition: 0.8s;
    background-color: #316DC3;
    color: white;
    padding: 9px 13px;
    border-radius: 20px;
}

.p {
    margin: 1% 15%;
}

.tab3 {
    width: 100%;
    background-color: #316DC3;
    color: white;
    padding: 5%;
    font-family: "Times New Roman";
    font-size: 25px;
    text-align: center;
}

.dtl {
    font-size: 18px;
}

.amnt {
    font-size: 50px;
}

.tab4 {
    color: #316DC3;
    width: 100%;
    padding: 5%;
    font-family: "Times New Roman";
    font-size: 25px;
    text-align: center;
}

.tab4 td {
    width: 5%;
    border: 1px solid white;
    padding: 3% 2%;
    margin: 5% 5%;
    box-shadow: 0px 2px 8px 5px #D7DBDD;
    background-color: white;
}

.tab4 td:hover {
    transition: 0.7s;
    transform: scale(1.1);
}

.tab4 {
    border-collapse: separate;
    border-spacing: 50px 50px;
}

.div {
    background-color: #F2F2F2;
}

.tab5 {
    color: #316DC3;
    width: 100%;
    padding: 5%;
    font-family: "Times New Roman";
    font-size: 25px;
}

.tab5 {
    border-collapse: separate;
    border-spacing: 30px 30px;
    font-weight: bold;
}

.rw {
    border: 1px solid #D7DBDD;
    width: 20%;
    padding: 2% 2%;
    font-family: "Times New Roman";
    font-size: 18px;
    text-align: left;
    background-color: #F2F2F2;
    font-weight: bold;
    box-shadow: 0px 2px 8px 5px #D7DBDD;
}

.rw:hover {
    transition: 0.7s;
    transform: scale(1.1);
}

.evnt {
    font-weight: normal;
    width: 30%;
    font-size: 16px;
    padding: 0% 10% 2% 0%;
    text-align: justify;
    color: black;
}

.head {}

.div2 {
    padding: 2% 15%;
}

.tab6 {
    width: 100%;
}

.tab6 td:hover {
    transition: 0.6s;
    opacity: 0.7;
    transform: scale(1.1);
}

.div3 {
    padding: 3% 7%;
    background-color: #25272E;
    color: white;
}

.social1 img {
    padding: 2% 2%;
    background-color: #316DD9;
    border-radius: 50%;
}

.footerline {
    text-align: center;
    background-color: #316DD9;
    color: white;
    padding: 1% 1%;
}